body {
  margin: 0;
  overflow: hidden;
  font-family: Source Code Pro;
  color: black;
}

h1 {
  padding: 0%;
  font-size: 3vw;
  text-align: left;
  line-height: 40%;
}
h2 {
  margin: 0;
  font-size: 3.5vw;
  text-align: left;
  line-height: 30%;
}

p {
  font-size: 1.4vw;
  padding-top: 8%;
  text-align: left;
}

.page-container {
  display: flex;
  width: 300%; /* Three pages, 100% each */
  transition: transform 0.3s ease;
}

.page {
  width: 33.33%; /* One-third of the container width */
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

#threeContainer {
  width: 100vw; /* Full width of the page section */
  height: 100vh; /* Full height, or adjust as needed */
  position: absolute;
  padding-left: 15%;
  padding-bottom: 0%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#pageLeft,
#pageRight {
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
}

.sidebar {
  width: 24%; 
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 0%; 
  height: 100vh; 
}

.sidebar-content {
  padding: 5%;
  padding-top: 0%;
  flex-grow: 1;
}

.bullets {
  padding: 0%;
  padding-right: 10%;
  font-size: 1.2vw;
}

.LOGO {
  width: 68%;
  position: relative;
  padding-left: 15%;
  padding-top: 0;
}

#sidebarButton {
  position: relative;
  color: black;
  font-size: 25px;
  font-family: Source Code Pro;
  border: none;
  padding: 15px 15px;
  z-index: 11;
  cursor: pointer;
  width: 95%; 
  text-align: center;
  text-decoration: none; /* Remove underline from the link */
  align-self: flex-end;
  transition: all 0.3s ease;
}

#sidebarButton a {
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline from the link */
}

#sidebarButton:hover {
  background-color: silver; 
  transform: scale(1.05); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
}

.arrow-container-left,
.arrow-container-right {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
}

.arrow-left {
  left: 0;
  padding-right: 98vw;
  font-size: 3vw;
  color: black;
  animation: blink-animation 1s infinite;
  z-index: 20;
}

.arrow-right {
  position: static;
  right: 0;
  padding-left: 98vw;
  font-size: 3vw;
  color: black;
  animation: blink-animation 1s infinite;
  z-index: 20;
}

/* Blinking Animation */
@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.api-container {
  pointer-events: auto;
  position: absolute;
  z-index: 10;
  padding-left: 22%;
  /* padding-right: 10%; */
  height: 100vh;
  width: 74%;
}
.sketchfab {
  pointer-events: auto;
  height: 100%;
  width: 100%;
  border: 0;
}

.grid-container {
  display: grid;
  padding-left: 35%;
  width: auto;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-gap: 20px; /* Gap between grid items */
  margin: 20px; /* Margin around the grid */
  align-content: center; /* Vertically center-align grid items */
  justify-items: center; /* Horizontally center-align grid items */
}

.grid-item {
  background-color: lightgray; /* Background color of grid items */
  text-align: center; /* Center-align text */
  transition: transform 0.3s; /* Smooth transform transition */
  width: 20vw; /* Take up one-third of the container width minus the gap */
  height: 25vh; /* Take up the full height of the grid cell */
  margin: 10px; /* Margin around each grid item */
  border-radius: 10px;
}

.grid-item:hover {
  transform: scale(1.2); /* Scale up on hover */
  position: absolute; /* Overlay other grid items */
  top: 0;
  left: 35%; /* Adjust to match your sidebar width */
  width: 75%; /* Expand to the right edge of the viewport */
  height: 100vh; /* Expand to the full viewport height */
  z-index: 999; /* Bring to front on hover */
  background-color: lightgray; /* Background color on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
  overflow: auto; /* Enable scrolling if content overflows */
}

.grid-item p {
  font-size: 2vw;
  color: deeppink;
  left: 10px; /* Adjust as needed */
  padding: 0%;
}

.grid-item a {
  display: block;
  width: 80%; /* Adjust the desired width */
  height: auto; /* Adjust the desired height */
  text-align: left;
  line-height: 20px; /* Vertically center-align the content */
  background-color: #ff1493;
  color: white;
  text-decoration: none;
  font-size: 12px; /* Adjust the font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
  position: relative;
  left: 10px;
  top: 20%;
  transform: translateY(-50%);
  opacity: 0;
}

.grid-item img {
  width: 100%;
}

.grid-item:hover p {
  font-size: 3vw;
  padding-top: 5%;
}

.grid-item:hover a {
  opacity: 100;
  pointer-events: auto;
}
