body {
  margin: 0;
  overflow: hidden;
  font-family: ubuntu;
  color: black;
}
h1 {
  padding: 0%;
  font-size: 3vw;
  text-align: left;
  line-height: 40%;
}
h2 {
  margin: 0;
  font-size: 3.5vw;
  text-align: left;
  line-height: 30%;
}
p {
  font-size: 1.4vw;
  padding-top: 8%;
  text-align: left;
}

.page-container {
  display: flex;
  width: 300%; /* Three pages, 100% each */
  transition: transform 0.3s ease;
}

.page {
  width: 33.33%; /* One-third of the container width */
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

#threeContainer {
  width: 100vw; /* Full width of the page section */
  height: 100vh; /* Full height, or adjust as needed */
  position: absolute;
  padding-left: 15%;
  padding-bottom: 0%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#pageLeft,
#pageRight {
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: white;
}

.sidebar {
  width: 24%;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0%;
  height: 100vh;
}

.LOGO {
  width: 68%;
  position: relative;
  padding-left: 15%;
  padding-top: 0;
  padding-bottom: 5%;
}

.sidebar-content {
  padding: 0%;
  padding-top: 0%;
  margin: 0%;
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}

.sidebar-content::-webkit-scrollbar {
  display: none;
}

.description {
  padding: 10%;
  padding-top: 0%;
  margin-top: 0%;
}

.description p {
  font-size: 1.5vw;
}

.media-gallery {
  display: flex;
  position: relative;
  flex-direction: column; /* Stacks images vertically */
  padding-right: 2%;
}

.media-gallery img {
  width: 100%; /* Adapt image width to the container */
  height: auto; /* Maintain aspect ratio */
  transition: opacity 0.5s ease; /* Smooth transition for the overlay effect */
  cursor: zoom-in; /* Indicates the image can be zoomed in on hover */
}

#image-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none; /* Hidden by default */
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
}

#overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9998; /* Just below the overlay image */
  display: none; /* Hidden by default */
}

#sidebarButton {
  position: relative;
  color: black;
  font-size: 25px;
  font-family: ubuntu;
  border: none;
  padding: 15px 15px;
  z-index: 11;
  cursor: pointer;
  width: 95%;
  text-align: center;
  text-decoration: none; /* Remove underline from the link */
  align-self: flex-end;
  transition: all 0.3s ease;
}

#sidebarButton a {
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline from the link */
}

#sidebarButton:hover {
  background-color: silver;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
}

.api-container {
  pointer-events: auto;
  position: absolute;
  z-index: 10;
  padding-left: 22%;
  /* padding-right: 10%; */
  height: 100vh;
  width: 74%;
}
.sketchfab {
  pointer-events: auto;
  height: 100%;
  width: 100%;
  border: 0;
}

.arrow-container-left,
.arrow-container-right {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
}

.arrow-left {
  left: 0;
  padding-right: 98vw;
  font-size: 3vw;
  color: black;
  animation: blink-animation 1s infinite;
  z-index: 20;
}

.arrow-right {
  position: static;
  right: 0;
  padding-left: 98vw;
  font-size: 3vw;
  color: black;
  animation: blink-animation 1s infinite;
  z-index: 20;
}

/* Blinking Animation */
@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.Resources {
  padding: 5%;
}

.manual-gallery {
  display: flex;
  flex-direction: column; /* Stacks images vertically */
  overflow-y: auto;
  height: 100%;
}

.manual-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
